/* Audio mp3 */

// gradiente //
.audiocontainer {
    h4 {
        @include pad-mar(0, 100px 0 15px 0);
        @include fontstylish('Montserrat', medium, bold, nth($colors, 1));
        text-align: center;
    }

    .audiogradient {
        @include d0(flex, 0 auto, 10px);
        width: 300px;
        background: nth($colors, 10);
        background: -webkit-linear-gradient(to right, nth($colors, 11), nth($colors, 10));
        background: linear-gradient(to right, nth($colors, 11), nth($colors, 10));
        border-radius: 40px 40px 40px 40px;

        audio {
            @include d0(flex, 0 auto, 0);
            outline: none;
            border-radius: 40px 40px 40px 40px;
            transition: 1s;

            &:hover {
                transition: 0.5s;
                -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.57);
                box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.57);
            }
        }
    }
}

/* /////////////////////////// */