@import '../base/_boxmod';
@import '../base/_fonts';

header {
    img {
        @include pad-mar(0, 0);
        width: 100%;
        height: auto;
        aspect-ratio: width/height;
        transition: 1s;
        z-index: 1;
        user-select: none;
        opacity: 2;
        &:hover {
            transition: 1s;
            opacity: 0.7;
        }
    }
}

.wavy {
    @include d(flex);
    width: 100vw;
    transition: 1s;
    user-select: none;
}

.wavytop {
    @include d(flex);
    width: 100%;
    height: auto;
    position: relative;
    top: -3px;
    z-index: -1;
    user-select: none;
}